<div class="div-cat">
  <ul id="categories">
    <!-- <li class="ctg">All categories</li>
    <li class="ctg">Combined Print and E-book Fiction</li>
    <li class="ctg">Combined Print & E-book Nonfiction</li>
    <li class="ctg">Hardcover fiction</li>
    <li class="ctg">Hardcover nonfiction</li>
    <li class="ctg">Paperback trade fiction</li>
    <li class="ctg">Paperback nonfiction</li>
    <li class="ctg">Advice, how-to & Miscellaneous</li>
    <li class="ctg">Children&#39;s middle grade hardcover</li> -->
  </ul>
</div>
