
<!-- Modal Window (Başlangıçta gizli) -->
<div id="bookModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <div class="modal-container">
        <img class="modalImage" src="" alt="Kitap Kapak Resmi" />
        <div class="modal-text-container">
          <h2 class="modalTitle"></h2>
          <p class="modalAuthor"></p>
          <p class="modalDescription"></p>
          <ul class="modalBuyLinks"></ul>
        </div>
      </div>
      <button class="addToShoppingList">ADD TO SHOOPING LIST</button>
      <button class="removeFromShoppingList">REMOVE FROM THE SHOPPING LIST</button>
      <div class="feedback-div">
        <p class="feedback-text">Сongratulations! You have added the book to the shopping list. To delete, press the button “Remove from the shopping list”.</p>
      </div>
    </div>
  </div>
  