<div class="support-ukr">
  <div class="support-header">
    <h4 class="support-txt">Support Ukraine</h4>
    <svg class="Ukr-icon" width="20" height="32">
      <use href="img/blocks/SupportUkr.svg#SupportUkr"></use>
    </svg>
  </div>
  <div class="div-support">
    <ol class="support-list">
      <li class="first3" width="160">
        <a href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis" target="_blank" >
        <img class="block" width="129" height="32" src="img/blocks/block1.png" alt="Save the Children" />
      </a>
      </li>
      <li class="first3">
        <a href="https://www.projecthope.org/country/ukraine/" target="_blank">
        <img class="block" width="62" height="32" src="img/blocks/block2.png" alt="Project HOPE" />
      </a>
      </li>
      <li class="first3">
        <a href="https://u24.gov.ua/uk" target="_blank">
          <img class="block" width="143" height="32" src="img/blocks/block3.png" alt="UNITED24" />
        </a>
      </li>
      <li>
        <a href="https://internationalmedicalcorps.org/country/ukraine/" target="_blank">
          <img class="block" width="103" height="32" src="img/blocks/block4.png" alt="International Medical Corps" />
        </a>
      </li>
      <li>
        <a href="https://www.msf.org/ukraine" target="_blank">
          <img class="block" width="94" height="32" src="img/blocks/block5.png" alt="Medicins Sans Frontieres" />
        </a>
      <li>
        <a href="https://www.razomforukraine.org/" target="_blank">
          <img class="block" width="82" height="32" src="img/blocks/block6.png" alt="RAZOM" />
        </a>
      </li>
      <li class="last3">
        <a href="https://www.actionagainsthunger.org/location/europe/ukraine/" target="_blank">
          <img class="block" width="55" height="32" src="img/blocks/block7.png" alt="Action against hunger" />
        </a>
      </li>
      <li class="last3">
        <a href="https://www.wvi.org/emergencies/ukraine" target="_blank">
          <img class="block" width="85" height="30" src="img/blocks/block8.png" alt="World vision" />
        </a>
      </li>
      <li class="last3">
        <a href="https://prytulafoundation.org/en" target="_blank">
          <img class="block" width="115" height="32" src="img/blocks/block9.png" alt="Serhiy Prytula Charity Foundation" />
        </a>
      </li>
    </ol>
  </div>
  <div class="slider-div">
    <img id="slider" width="32" height="32" src="img/blocks/slider.svg#slider"/>
  </div>
</div>
