<div class="support-ukr">
  <div class="support-header">
    <h4 class="support-txt">Support Ukraine</h4>
    <svg class="Ukr-icon" width="20" height="32">
      <use href="../img/blocks/SupportUkr.svg#SupportUkr"></use>
    </svg>
  </div>
  <div class="div-support">
    <ol class="support-list">
      <li class="first3">
        <svg class="block" width="129" height="32">
          <use href="../img/blocks/block1.svg#block1"></use>
        </svg>
      </li>
      <li class="first3">
        <svg class="block" width="129" height="32">
          <use href="../img/blocks/block2.svg#block2"></use>
        </svg>
      </li>
      <li class="first3">
        <svg class="block" width="129" height="32">
          <use href="../img/blocks/svgviewer-output.svg#b3"></use>
        </svg>
      </li>
      <li>
        <svg class="block" width="129" height="32">
          <use href="../img/blocks/block4.svg#block4"></use>
        </svg>
      </li>
      <li>
        <svg class="block" width="129" height="32">
          <use href="../img/blocks/block5.svg#block5"></use>
        </svg>
      </li>
      <li>
        <svg class="block" width="129" height="32">
          <use href="../img/blocks/block6.svg#block6"></use>
        </svg>
      </li>
      <li class="last3">
        <svg class="block" width="129" height="32">
          <use href="../img/blocks/block7.svg#block7"></use>
        </svg>
      </li>
      <li class="last3">
        <svg class="block" width="129" height="32">
          <use href="../img/blocks/block8.svg#block8"></use>
        </svg>
      </li>
      <li class="last3">
        <svg class="block" width="129" height="32">
          <use href="../img/blocks/block9.svg#block9"></use>
        </svg>
      </li>
    </ol>
  </div>
  <div class="slider-div">
    <img id="slider" width="32" height="32" src="../img/blocks/slider.svg#slider"/>
  </div>
</div>
