/* Mobile */
@media screen and (max-width: 767px) {
  div.div-cat {
    width: 98%;
    height: 228px;
    top: 104px;
    left: 20px;
    gap: 20px;
    opacity: 0px;
    overflow: scroll;
  }
  #categories li.ctg {
    font-family: var(--dmsans);
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 24px;
  }

  #categories li.ctg:hover {
    cursor: pointer;
    color: #4f2ee8;
    text-transform: uppercase; /* Büyük harf yapmak için */
  }
  .active {
    color: #4f2ee8;
    text-transform: uppercase;
    font-weight: 700;
  }
   /* Dark modda hover rengini sarı yap */
   .dark-mode #categories li.ctg:hover {
    color: #EAC645 !important;
   }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1439px) {
  div.div-cat {
    width: 48%;
    height: 472px;
    top: 112px;
    left: 32px;
    gap: 20px;
    opacity: 0px;
    overflow: scroll;
    display: flex;
    /* align-items: center; */
    float:left;
    
  }
  #categories li.ctg {
    font-family: var(--dmsans);
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 24px;
  }

  #categories li.ctg:hover {
    cursor: pointer;
    color: #4f2ee8;
    text-transform: uppercase; /* Büyük harf yapmak için */
  }
  .active {
    color: #4f2ee8;
    text-transform: uppercase;
    font-weight: 700;
  }
  /* Dark modda hover rengini sarı yap */
  .dark-mode #categories li.ctg:hover {
   color: #EAC645 !important;
  }
}

/* Desktop */
@media screen and (min-width: 1440px) {
  div.div-cat {
    width: 356px;
    height: 472px;
    top: 112px;
    left: 24px;
    gap: 20px;
    opacity: 0px;
    overflow: scroll;
  }
  #categories li.ctg {
    font-family: var(--dmsans);
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 24px;
  }

  #categories li.ctg:hover {
    cursor: pointer;
    color: #4f2ee8;
    text-transform: uppercase; /* Büyük harf yapmak için */
  }
  .active {
    color: #4f2ee8;
    text-transform: uppercase;
    font-weight: 700;
  }
   /* Dark modda hover rengini sarı yap */
   .dark-mode #categories li.ctg:hover {
    color: #EAC645 !important;
   }
}
