/* Mobile */
li {
  text-decoration: none;
}

.top_list-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: -0.04em;
  text-align: left;
  margin-bottom: 40px;
}
.top_list-title span {
  color: #4f2ee8;
}
.top_list-book_cover {
  width: 335px;
  height: 485px;
  border-radius: 8px;
  border-color: transparent;
}
.top_list-category_name {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #b4afaf;
}
.top_list-container {
  display: flex;
  flex-direction: column;
  width: 335px;
  gap: 18px;
}
.top_list-book_title {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.04em;
  margin: 10px 0px 5px 0px;
}
.top_list-book_author {
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.04em;
  color: #b4afaf;
  margin-bottom: 20px;
}
.top_list {
  display: flex;
  flex-direction: column;
}

.top_list-cards {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.top_list-see_more {
  display: flex;
  align-self: end;
  width: 124px;
  height: 46px;
  padding: 14px 25px 14px 28px;
  gap: 10px;
  border-radius: 40px;
  border: 2px solid #4f2ee8;
  background-color: transparent;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.top_list-quick {
  position: absolute;
  background-color: #eac645;
  width: 335px;
  height: 130px;
  text-align: center;
  align-content: center;
  border-radius: 0px 0px 8px 8px;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: -0.04em;
  display: none;
}

.top_list-book_cover_wrapper {
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}

.top_list-book_cover_wrapper:hover .top_list-quick {
  display: block;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .top_list-container {
    width: inherit;
    flex-wrap: wrap;
    align-content: center;
  }
  .top_list-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  li::marker {
    content: '';
  }
  .top_list-book_cover {
    width: 218px;
    height: 316px;
  }
  .top_list-card {
    width: 218px;
  }
  .top_list-title {
    font-size: 48px;
    line-height: 52px;
  }
  .top_list-category_name {
    line-height: 24px;
  }
  .top_list-quick {
    width: 218px;
    height: 100px;
    font-size: 20px;
  }
}

/* Desktop */
@media screen and (min-width: 1440px) {
  .top_list-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .top_list-card {
    display: flex;
    flex-direction: column;
    width: 180px;
  }
  .top_list-container {
    width: inherit;
    flex-wrap: wrap;
    align-content: center;
  }
  .top_list-book_cover {
    width: 180px;
    height: 256px;
  }
  .top_list-book_title {
    text-wrap: wrap;
  }
  .top_list-category_name {
    text-transform: uppercase;
    line-height: 24px;
  }
  .books-container {
    display: flex;
    justify-content: center;
  }
  .top_list-title {
    font-size: 48px;
    line-height: 52px;
  }

  .top_list-quick {
    width: 180px;
    height: 70px;
    font-size: 14px;
  }
  main {
    display: flex;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  .books-container {
    width: fit-content;
  }
}

/* Scroll Up Butonu */
#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 0;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #4F2EE8;
  cursor: pointer;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  transition: all 0.5s ease;
}

#scrollToTopBtn:hover {
  background-color: rgba(79, 46, 232, 0.3);
}

.scroll-up {
  width: 24px;
  height: 24px;
  fill: #FFFFFF;
  top: 20px;
  left: 20px;
}

.circle {
  border-radius: 50%;
  width: 54px;
  height: 54px;
  background-color: #4F2EE8;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 5.5px;
}
