
.empty-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 100px); /* Header alanını çıkarıyoruz */
    text-align: center;
    padding: 20px;
  }
  
  .empty-text {
    font-size: 16px;
    color: #333;
    margin-bottom: 15px;
    max-width: 250px;
  }
  
  .empty-image {
    width: 150px;
    height: auto;
  }
  
  .book-card {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 10px;
    padding: 12px;
    margin-bottom: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .book-image {
    width: 60px;
    height: 90px;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .book-details {
    flex: 1;
  }
  
  .book-title {
    font-size: 14px;
    font-weight: bold;
    color: #333;
  }
  
  .book-author {
    font-size: 12px;
    color: #777;
  }
  
  .book-actions {
    display: flex;
    align-items: center;
  }
  
  .trash-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-left: 10px;
  }
  

  .pagination {
    display: none;
    justify-content: center;
    gap: 8px;
    margin-top: 20px;
  }
  
  .page-btn {
    width: 28px;
    height: 28px;
    border: none;
    border-radius: 50%;
    background: #ffcc00;
    color: #333;
    font-weight: bold;
    cursor: pointer;
  }
  
  .page-btn.active {
    background: #000;
    color: #fff;
  }
  
  @media (min-width: 768px) {
    .empty-text {
      font-size: 18px;
    }
  
    .empty-image {
      width: 180px;
    }
  
    .book-card {
      padding: 16px;
    }
  
    .book-title {
      font-size: 16px;
    }
  
    .book-author {
      font-size: 14px;
    }
  }
  
  @media (min-width: 1024px) {
    .empty-text {
      font-size: 20px;
    }
  
    .empty-image {
      width: 200px;
    }
  
    .book-card {
      padding: 20px;
    }
  
    .book-title {
      font-size: 18px;
    }
  
    .book-author {
      font-size: 16px;
    }
  }
  
