/* Varsayılan tema (Light Mode) */
body {
  background-color: white;
  color: black;
  transition: 0.3s, color 0.3s;
}

/* Dark Mode */
body.dark-mode {
  background-color: #121212;
  color: white;
}


.ctg-support-ukr {
  visibility: hidden;
  height: 0;
}
.shopping-list-title {
  font-family: 'DM Sans', serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: -4%;
  /* color: black; */
  display: flex;
  justify-content: start;
  gap: 10px;
  margin: 20px;
}
.shopping-list-title span {
  color: rgba(79, 46, 232, 1);
}
.empty-list {
  /* width: 265px;
  height: 248px; */
  margin-left: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
}
.empty-text {
  font-family: 'DM Sans', serif;
  /* width: 244px; */
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -2%;
  display: flex;
  text-align: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.6);
  padding-bottom: 14px;
}
/* EMPTY PAGE is END */
.books-container {
  display: flex;
  flex-direction: column;
  position: relative;
}
.book-card {
  /* width: 335px; */
  height: 170px;
  margin: 18px 20px;
  border: 2px solid rgba(76, 46, 232, 0.4);
  /* color: white; */
  padding: 30px 24px;
  display: flex;
  border-radius: 16px;
  align-items: center;
  text-align: center;
  position: relative;
}
.book-cover {
  /* width: 100px; */
  height: 142px;
  border-radius: 8px;
  /* display: flex;
  align-items: center; */
  /* position: absolute; */
  left: 8px;
  top: 8px;
}
.book-info {
  height: 170px;
  align-items: start;
  justify-content: start;
  text-align: start;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 8px;
  overflow: hidden;
  text-overflow: ellipsis;

  /* position: absolute;
  top: 0;
  width: 215px;
  right: 0; */
}
.book-info h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -4%;
  position: absolute;
  top: 10px;
  white-space: nowrap; /* Alt satıra geçmesini engeller */
  overflow: hidden; /* Taşan kısmı gizler */
  text-overflow: ellipsis;
  max-width: 50%;
}

.category {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 3%;
  color: rgba(180, 175, 175, 1);
  width: 193px;
  position: absolute;
  top: 30px;
}

.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -4%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  top: 60px;
}

.author {
  font-weight: 400;
  font-style: italic;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -4%;
  color: rgba(180, 175, 175, 1);
  position: absolute;
  bottom: 10px;
}
.delete-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  border-radius: 50%;
  background-color: rgba(76, 46, 232, 1);
  color: white;
  border: none;
  font-size: 16px;
  width: 28px;
  height: 28px;
}
.amazon-icon {
  position: absolute;
  right: 0; /* Sol kenara yasla */
  bottom: 0; /* Alt kenara yasla */
  padding: 10px;
  width: 56px;
  color:#121212;
}

.pagination {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  font-weight: bold;
}

.pagination-btn {
  border-radius: 50%;
  border: none;
  padding: 7px;
  border: 1px solid gray;
  background-color: white;
  color: black;
}
.paginaton-btn.active {
  background-color: black;
  color: white;
}

.page-number.active {
  background-color: black;
  color: white;
}
.pagination-btn:disabled {
  background-color: black;
  color: gray;
}

.last-page {
  background-color: gold;
}

.next-page {
  background-color: gold;
}

@media screen and (min-width: 768px) {
  .shopping-list-title {
    font-size: 48px;
    line-height: 52px;
    gap: 10px;
  }

  .shopping-list-title span {
    font-size: 48px;
    line-height: 52px;
  }


  .empty-list {
    width: 349px;
    height: 309px;
    display: flex;
    align-items: center;
  }
  .empty-text {
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 14px;
  }

  .books-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .book-card {
    display: flex;
    width: 100%;
    height: 213px;
  }

  .book-cover {
    width: 116px;
    height: 165px;
    border-radius: 8px;
  }

  .book-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
  }

  .book-info h3 {
    margin-top: 8px;
    font-size: 16px;
    line-height: 18px;
  }
  .category {
    margin-top: 8px;
    font-size: 12px;
    line-height: 14px;
  }
  .description {
    font-size: 14px;
    line-height: 18px;
  }
  .author {
    font-size: 12px;
    line-height: 14px;
  }
}

@media screen and (min-width: 1440px) {
.shopping-container {
  display: flex;
gap: 50px;
}

  .ctg-support-ukr {
    visibility: visible;
    height: 474px;
  }

  .shopping-list-title {
    font-size: 48px;
    line-height: 52px;
  }
  .shopping-list-title span {
    font-size: 48px;
    line-height: 52px;
  }
  /* .books-container {
    top: 0px;
    display: inline-block;
    position: relative;
  } */
  .book-card {
    display: flex;
    gap: 48px;
    height: 213px;
    min-width: 996px;
  }

  .book-cover {
    margin-right: -35px;
    width: 116px;
    height: 165px;
    border-radius: 8px;
  }

  .delete-btn {
    font-size: 20px;
    width: 34px;
    height: 34px;
  }

  .book-info h3 {
    font-size: 16px;
    line-height: 18px;
  }
  .category {
    font-size: 12px;
    line-height: 14px;
    margin-top: 12px;
  }
  .description {
    font-size: 14px;
    line-height: 18px;
  }
  .author {
    font-size: 12px;
    line-height: 14px;
  }
}
