/* Mobile */
@media screen and (max-width: 767px) {
    div.support-ukr {
        width: 98%;
        height: 460px;
        top: 372px;
        left: 20px;
        gap: 0px;
        border-radius: 16px 16px 16px 16px;
        opacity: 0px;

        background: radial-gradient(183.6% 183.01% at 59.76% -23.42%, #4F2EE8 18.03%, #FFFFFF 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    div.support-header {
        position: relative;
        top: 24px;
        display: flex;
        align-items: center;
    }
    h4.support-txt {
        color:  var(--white);
        margin-right: 12px;

    }
    ol.support-list {
        color: var(--white);
        list-style: none;
    }
    ol.support-list li {
        counter-increment: custom;
        
        
    }
    ol.support-list li:before
    {
        content:"0" counter(custom) " "; 
        
    }

    ol.support-list li:first-child {
        counter-reset: custom;
    }
    div.div-support {
        position: relative;
        top: 40px;
        height: 292px;
    }
    div.slider-div {
        margin-top: 50px;
        position: relative;
        bottom: -20px;
    }
    img.block {
        display: flex;
        filter: brightness(0) invert(1);
        
        fill: var(--white);
        position: relative;
        top: -25px;
        left: 25px;
        
    }
    ol.support-list li.last3 {
        display: none;
    }
    
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1439px) {
    div.support-ukr {
        width: 98%;
        height: 474px;
        top: 112px;
        right: 20px;
        gap: 0px;
        border-radius: 16px 16px 16px 16px;
        opacity: 0px;

        background: radial-gradient(183.6% 183.01% at 59.76% -23.42%, #4F2EE8 18.03%, #FFFFFF 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    div.support-header {
        position: relative;
        top: 24px;
        display: flex;
        align-items: center;
    }
    h4.support-txt {
        color:  var(--white);
        margin-right: 12px;

    }
    
    ol.support-list {
        color: var(--white);
        list-style: none;
        
    }
    ol.support-list li {
        counter-increment: custom;
        
    }
    ol.support-list li:before
    {
        content:"0" counter(custom) " "; 
        position: relative;
        top: -10px;  
    }

    ol.support-list li:first-child {
        counter-reset: custom;
    }
    div.div-support {
        position: relative;
        top: 40px;
    }
    div.slider-div {
        margin-top: 20px;
        position:absolute;
        top: 520px;
    }
    img.block {
        display: flex;
        filter: brightness(0) invert(1);
        
        fill: var(--white);
        position: relative;
        top: -25px;
        left: 25px;
        
    }
    ol.support-list li.last3 {
        display: none;
    }
    img#slider {
        margin-top: 10px;
    }
}


/* Desktop */
@media screen and (min-width: 1440px) {
    div.support-ukr {
        width: 356px;
        height: 474px;
        top: 670px;
        left: 24px;
        gap: 0px;
        border-radius: 16px 16px 16px 16px;
        opacity: 0px;

        background: radial-gradient(183.6% 183.01% at 59.76% -23.42%, #4F2EE8 18.03%, #FFFFFF 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    div.support-header {
        position: relative;
        top: 24px;
        display: flex;
        align-items: center;
    }
    h4.support-txt {
        color:  var(--white);
        margin-right: 12px;

    }
    ol.support-list {
        color: var(--white);
        list-style: none;
    }
    ol.support-list li {
        counter-increment: custom;
        
    }
    ol.support-list li:before
    {
        content:"0" counter(custom) " "; 
        position: relative;
        top: -10px;  
    }

    ol.support-list li:first-child {
        counter-reset: custom;
    }
    div.div-support {
        position: relative;
        top: 40px;
    }
    div.slider-div {
        margin-top: 20px;
        position:absolute;
        top: 1020px;
    }
    img.block {
        display: flex;
        filter: brightness(0) invert(1);
        
        fill: var(--white);
        position: relative;
        top: -25px;
        left: 25px;
        
    }
    ol.support-list li.last3 {
        display: none;
    }
    img#slider {
        margin-top: 10px;
        position: relative;
        bottom: 25px;
    }
}
